# Overview
- secondaly_labels を見てみる

# Const

In [1]:
DIR_DATA = '../data_ignore/official'
PATH_TEST_CSV = f'{DIR_DATA}/test.csv'
PATH_TRAIN_CSV = f'{DIR_DATA}/train.csv'
PATH_SECONDALY_LAVEL_CODE = '../data/external_dataset/secondaly_labels/codes.pkl'

# Import everything I need :)

In [2]:
from scipy.io import wavfile
import numpy as np
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import librosa

# My function

# Preparation

In [3]:
df_train = pd.read_csv(PATH_TRAIN_CSV)
with open(PATH_SECONDALY_LAVEL_CODE, mode='rb') as f:
    scd_labels = pickle.load(f)

merge

In [4]:
df_train['secondary_labels_code'] = scd_labels

<br>

setting

In [5]:
pd.set_option('display.max_columns', 100)

# EDA

In [10]:
scd_label_6sec_idxs = []
for i in range(len(df_train[mask_6sec])):
    _df = df_train['secondary_labels_code'][mask_6sec]
    lbl = _df.values[i]
    if (lbl != [-1]) & (lbl != [264]):
        if not 264 in lbl:
            scd_label_6sec_idxs.append(_df.index[i])

In [11]:
len(df_train[['secondary_labels_code']].iloc[scd_label_6sec_idxs, :])

119

---> ↑ 6sec以上かつ、secondaly_label持ちのデータ数

In [12]:
df_train[['duration', 'secondary_labels_code']].iloc[scd_label_6sec_idxs, :].head(30)

      duration secondary_labels_code
213          5                  [91]
519          3                 [231]
779          2                 [151]
1587         5              [183, 8]
1997         3                  [33]
2024         2                  [33]
2056         4                 [212]
2087         5                 [192]
2370         5                  [94]
2729         5                 [126]
2800         5                 [247]
2846         3                  [61]
2847         3                 [196]
2964         5                 [156]
3319         5                  [26]
3449         1             [157, 61]
3762         2                 [231]
3806         5               [33, 3]
3893         5                  [28]
3902         5                  [84]
3944         4              [8, 224]
3962         3                  [58]
4301         5                 [126]
4405         4                 [196]
4471         5                 [129]
4955         2                 [233]
5264         3                 [180]
5503         4                 [157]
5718         5              [170, 7]
5922         2                 [187]